@keyframes popup {
	0% {
		transform: scale(0.1);
	}
	70% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.6);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 22px;

	z-index: 1001;

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.wrapper {
	position: relative;

	width: calc(100% - 30px);
	max-width: 500px;

	background-color: var(--color-secondary);
	border: 2px solid var(--color-secondary);
	border-radius: 12px;

	padding: 24px;

	animation: popup 0.5s;

	opacity: 0;
	transform: translateY(-20px);
	transition: opacity 0.3s ease, transform 0.3s ease;
}

.overlay.active {
	opacity: 1;
	visibility: visible;
}

.wrapper.active {
	opacity: 1;
	transform: translateY(0);
}

.close {
	position: absolute;
	top: 12px;
	right: 12px;

	cursor: pointer;

	z-index: 1;
}

@media screen and (min-width: 769px) {
	.wrapper {
		max-width: 1024px;
	}
}
