.content-wrapper {
	max-width: 1240px;
	display: flex;
	flex-direction: column;
	gap: 64px;
	margin: 0px auto 72px;
}

.section {
	margin: 0px 20px;
}

@media screen and (min-width: 769px) {
	.section {
		margin: 0px 80px;
	}
}
