.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 16px;
	padding-bottom: 24px;
}

.social-media-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.github-anchor {
	display: flex;
	align-items: center;
	justify-content: center;
}

.github-logo {
	fill: var(--color-primary);
}

.github-logo:hover {
	fill: var(--color-sub-primary);
}

.linkedin-anchor {
	display: flex;
	align-items: center;
	justify-content: center;
}

.linkedin-logo {
	fill: var(--color-primary);
}

.linkedin-logo:hover {
	fill: var(--color-sub-primary);
}
