@keyframes appear {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0%);
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 480px;
}

.title {
	margin-bottom: 16px;
	font-size: 3rem;
}

.desc {
	position: relative;
	max-width: max-content;

	border-right: 2px solid transparent;

	font-size: 1.25rem;
	white-space: nowrap;
	overflow: hidden;
}

.desc-value {
	display: block;
	animation: appear 0.25s ease 1.5s 1 normal both;
}

@media screen and (min-width: 769px) {
	.title {
		margin-bottom: 12px;

		line-height: 8.7vw;
		font-size: 6.7vw;
	}

	.desc {
		font-size: 1.5rem;
	}
}
