.title {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.desc {
	font-size: 1.25rem;
}

@media screen and (min-width: 769px) {
	.title {
		font-size: 3.5rem;
		margin-bottom: 0.75rem;
	}

	.desc {
		font-size: 1.5rem;
	}
}
