@keyframes appear {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0%);
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 480px;
}

.title {
	margin-bottom: 16px;
	font-size: 3rem;
}

.desc {
	font-size: 1.25rem;
	overflow: hidden;
}

.desc-value {
	display: block;
	animation: appear 0.25s ease 1.5s 1 normal both;
}

@media screen and (min-width: 769px) {
	.title {
		margin-bottom: 24px;

		line-height: 4.9rem;
		font-size: 5rem;
	}

	.desc {
		font-size: 1.5rem;
	}
}
