@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Start of CSS Reset */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	border: none;
	padding: unset;
	margin: 0;
	text-decoration: none;
	background: unset;
	color: unset;
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

/* End of CSS Reset */

:root {
	--color-primary: #2c3e50;
	--color-sub-primary: #ff0211;
	--color-secondary: white;
}

body[data-color='dark'] {
	--color-primary: #c3c3c3;
	--color-sub-primary: #d02d37;
	--color-secondary: #2c3e50;
}

html {
	scroll-behavior: smooth;
}

body {
	color: var(--color-primary);
	background-color: var(--color-secondary);
	transition: background 0.25s ease;
	min-height: 100vh;
	font-family: IBM Plex Mono, monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: IBM Plex Serif, serif;
}

h1 {
	font-size: 1.5rem;
	font-weight: bold;
}

h2 {
	font-size: 3rem;
	font-weight: bold;
}

h3 {
	font-size: 2.5rem;
	font-weight: bold;
}

h4 {
	font-size: 2rem;
	font-weight: bold;
}

h5 {
	font-size: 1.75em;
	font-weight: bold;
}

h6 {
	font-size: 1.6125em;
	font-weight: bold;
}

a {
	font-weight: bold;
	color: var(--color-primary);
}

a:hover {
	color: var(--color-sub-primary);
}

@media screen and (min-width: 769px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: IBM Plex Serif, serif;
	}

	h1 {
		font-size: 2.5rem;
		font-weight: bold;
	}

	h2 {
		font-size: 4rem;
		font-weight: bold;
	}

	h3 {
		font-size: 3.5rem;
		font-weight: bold;
	}

	h4 {
		font-size: 3rem;
		font-weight: bold;
	}

	h5 {
		font-size: 2.75em;
		font-weight: bold;
	}

	h6 {
		font-size: 2.6125em;
		font-weight: bold;
	}
}
