.title {
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
}

.content {
	display: flex;
	gap: 2rem;
	flex: 1;
	overflow: auto;
	white-space: nowrap;
}

@media screen and (min-width: 769px) {
	.title {
		font-size: 3.5rem;
		margin-bottom: 3rem;
	}

	.content {
		gap: 3rem;
	}
}

.item-journey-wrapper {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.item-journey-arrow {
	font-size: 1.5rem;
}

.item-journey-title {
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 0.25rem;
}

.item-journey-subtitle {
	font-size: 1.375rem;
	margin-bottom: 0.25rem;
}

.item-journey-time {
	font-size: 1.125rem;
	font-weight: 300;
}

@media screen and (min-width: 769px) {
	.item-journey-wrapper {
		gap: 3rem;
	}

	.item-journey-arrow {
		font-size: 1.5rem;
	}

	.item-journey-title {
		font-size: 2rem;
		margin-bottom: 0.5rem;
	}

	.item-journey-subtitle {
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
	}

	.item-journey-time {
		font-size: 1.25rem;
	}
}
